################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TasksManager/.vs/TasksManager/FileContentIndex
